
#ddmenu {
    position: fixed;
    right: 0.35em;
    top: 0.35em;
    width: 3.0em;
    height: 2.4em;
    z-index: 999;
}

#ddmenu .menu-icon:before {
  content: "";
  position: absolute;
  right: 0.35em;
  top: 0.35em;
  width: 2.0em;
  height: 0.2em;
  background: white;
  box-shadow: 
    0 0.5em 0 0 white,
    0 1.0em 0 0 white;
  border-radius: 1.5px;
}

#ddmenu:hover .menu-icon:before {
    background-color:#191919;
    box-shadow:
        0 0.5em 0 0 #191919,
        0 1.0em 0 0 #191919;
}
 
#ddmenu .menu {
    position: absolute;
    min-width: 190px;
    top: 35px;
    right: 0.35em;
    background: #efefef;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #888888;
}

#ddmenu .menu a {
    color: #191919;
    text-decoration: none;
    display: inline-block;
    min-width: 190px;
    padding: 10px 10px;
    font: bold 14px/7px 'Open Sans', sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

#ddmenu .menu a:hover {
    color: #FFF;
    background-color: #ed1248;
}

/* Admin Menu */

#sys_adm {
    position: fixed;
    right: 2.00em;
    top: 0.30em;
    width: 1.4em;
    height: 2.4em;
    z-index: 997;
}

#sys_adm .adm-menu-icon:before {
  font-family: FontAwesome;
  content: "\f085";
  font-size: 20px;
  color: white;
  position: absolute;
  right: 2.00em;
  width: 2.0em;
  height: 2.4em;
}

#sys_adm:hover .adm-menu-icon:before {
    color:#191919;
}
 
#sys_adm .adm-menu {
    position: absolute;
    min-width: 190px;
    top: 35px;
    right: 3.75em;
    background: #efefef;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #888888;
}

#sys_adm .adm-menu a {
    color: #191919;
    text-decoration: none;
    display: inline-block;
    min-width: 190px;
    padding: 10px 10px;
    font: bold 14px/7px 'Open Sans', sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

#sys_adm .adm-menu a:hover {
    color: #FFF;
    background-color: #ed1248;
}

/* Site Admin Menu */

#site_adm {
    position: fixed;
    right: 1.25em;
    top: 0.30em;
    width: 1.4em;
    height: 2.4em;
    z-index: 998;
}

#site_adm .site-menu-icon:before {
  font-family: FontAwesome;
  content: "\f013";
  font-size: 20px;
  color: white;
  position: absolute;
  right: 1.25em;
  width: 1.4em;
  height: 2.4em;
}

#site_adm:hover .site-menu-icon:before {
    color:#191919;
}
 
#site_adm .site-menu {
    position: absolute;
    min-width: 190px;
    top: 35px;
    right: 2.05em;
    background: #efefef;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #888888;
}

#site_adm .site-menu a {
    color: #191919;
    text-decoration: none;
    display: inline-block;
    min-width: 190px;
    padding: 10px 10px;
    font: bold 14px/7px 'Open Sans', sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

#site_adm .site-menu a:hover {
    color: #FFF;
    background-color: #ed1248;
}